.widget-progress-circle {
    width: 100%;
    max-width: 300px;
}

.widget-progress-circle.widget-progress-circle-small .progressbar-text {
    font-size: 16px;
}

.widget-progress-circle.widget-progress-circle-medium .progressbar-text {
    font-size: 26px;
}

.widget-progress-circle.widget-progress-circle-large .progressbar-text {
    font-size: 36px;
}

.widget-progress-circle .widget-progress-circle-path {
    stroke: #307bbb;
}

.widget-progress-circle .widget-progress-circle-trail-path {
    stroke: #eee;
}
